/*Universal styles*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  line-height: 1.4;
  color: #33373B;
}

.container {
  display: flex;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #33373b;
  margin: 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
}

/*Header*/
.header {
  align-items: center;
  height: 5em;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: solid 0.01em #33373b;
  background-color: #fff;
  padding: 0.5em 0;
  border-top: 1em;
  overflow: hidden;
}

#logo {
  height: 4em;
  padding: 0.5em 2em;
}

.title {
  text-align: right;
  flex-grow: 1;
  padding-right: 1.5em;
}

.title p {
  font-style: italic;
}

.header-menu {
  display: none;
}

/* Side Navigation */
.sidenav {
  max-height: 100%;
  width: 12em;
  padding: 6.4em 1.5em;
  background-color: #acb0b3;
}

.sidenav li {
  line-height: 2.8;
  cursor: pointer;
}

#about {
  padding: 2.5em 0.25em;
  font-style: italic;
}

#about img {
  padding-left: 1em;
}

/* Main content */
.about-mobile {
  display: none;
}

.banner {
  display: block;
  position: relative;
  padding-top: 6em;
  max-width: 100%;
  max-height: 100%;
}

.banner img {
  max-width: 100%;
  max-height: 100%;
}

.banner-mobile {
  padding: 1em;
  display: block;
  background-image: url("../images/granite-grass-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
}

#about-mobile {
  background-color: #fff;
  padding: 0.5em;
  opacity: 0.8;
}

#about-mobile img {
  height: 30%;
  width: 30%;
}

.image {
  margin-bottom: -0.3em;
}

.featured-work {
  text-align: center;
  border: solid 0.01em #33373b;
}

.featured-work h2 {
  padding-top: 2em;
  color: #33373b;
}

.featured-work h3 {
  font-weight: 700;
  color: #33373b;
}

#featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 3em;
}

.image-container {
  display: block;
  text-align: center;
  width: 28%;
  margin: 1em;
}

.image-container img {
  max-width: 100%;
  overflow: hidden;
  border: solid 0.1em #33373b;
}

.credentials {
  background-color: #acb0b3;
  margin-left: -0.1em;
}

#credentials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em 0;
}

#credentials img {
  border: none;
  margin: 2em;
  width: 30%;
  height: 20%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em 1em 1.3em 1em;
  border: solid 0.01em #33373b;
  margin-top: -1.45em;
}

footer a {
  padding: 0 0.5em;
  color: #33373b;
}

/* Psuedo class */
#visited a:link, #featured a:link {
  color: #33373b;
}

#visited a:hover, #featured a:hover {
  color: #8f6a4b;
}

#visited a:active {
  color: #fff;
}

.image-container a:hover {
  filter: brightness(120%);
}

/* Media queries */
@media screen and (max-width: 599px) {
  h1,
  h2 {
    font-size: 1em;
  }

  h3,
  .image-container p,
  .title p  {
    font-size: 0.75em;
  }

  #logo {
    height: 2.5em;
    padding: 1em;
  }

  .header {
    height: 3em;
  }

  .header-menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1.5em;
    color: #33373b;
  }

  .title {
    padding-right: 4.7em;
  }

  .sidenav {
    z-index: 10;
    width: 300px;
    position: fixed;
    -webkit-transform: translate(-350px, 0);
    transform: translate(-350px, 0);
    transition: transform 0.1s ease;
    padding: 0 1em;
    margin-top: 4em;
  }

  .sidenav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .nav-item {
    border-bottom: 1px solid #33373b;
    width: 100%;
    text-align: left;
  }

  li.mobile {
    display: none;
  }

  #about {
    display: none;
  }

  .image {
    display: none;
  }

  #about-mobile {
    display: flex;
  }

  .banner {
    padding-top: 4em;
  }

  .featured-work h2 {
    padding-top: 0.5em;
  }

  #featured {
    padding-bottom: 0;
  }

  .image-container {
    width: 70%;
  }

  #credentials img {
    max-width: 50%;
    height: 15%;
  }
}

@media screen and (min-width: 450px) {
  h1,
  h2 {
    font-size: 1.5em;
  }

  h3,
  .title p,
  .image-container p {
    font-size: 1em;
  }
}

@media screen and (min-width: 600px) {
  .banner-mobile {
    display: none;
  }

  .featured-work h2 {
    padding-top: 0.5em;
  }

  .image-container {
    width: 40%;
  }

  #credentials img {
    width: 35%;
    height: 15%;
  }
}

@media screen and (min-width: 850px) {
  main {
    width: 54em;
    margin-left: auto;
    margin-right: auto;
  }
}
